html{
    scroll-behavior: smooth;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   list-style: none;
}li{
    text-align: center;
}
h2{
    font-size: 0.9rem;
}
.header{
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('../images/bg4.jpg');
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    clip-path: polygon(100% 0%,100% 77%, 50% 100%, 0 75%,0 0);
    font-family: 'Poppins', sans-serif;
}

.header:before{
    content: " ";
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0;
    right: 0;
    z-index: -1;


}
.navbar::before{
    content: " ";
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0;
    right: 0;
    z-index: -1;


}
.nav-item a{
    font-family: 'Poppins', sans-serif;
    color: #fff;
}
.nav-item a:hover{
    color: yellow;
}
.header-section{
    width: 100%;
    height: inherit;
    position: relative;
    color: #fff;
    text-align: center;
}
.center-div{
    width: 100%;
    position: absolute;
    height: auto;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}
.header-buttons a{
    border:2px solid #fff;
    border-radius: 100px;
    margin: 0px 10px;
    padding: 12px 35px;
    outline: none;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    line-height: 1.4;
    color: #fff;
}
.header-buttons a:hover{
    text-decoration: none;
    color: rgb(216, 168, 104);
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
}

.center-div p{
    font-size: 1.4rem;
    padding: 10px 5px;
    font-family: 'Poppins', sans-serif;
}
.header-extradiv{
    width: 100%;
    height: auto;
    margin: 100px 0;
    text-align: center;
}
.extra-div{
    background-color: #fff;
    padding: 50px!important;
    border: medium none;
    border-radius: 3px;
    transition: 0.3s;
    

}
.extra-div:hover{
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
    transform: translateY(-20px);
}

.serviceoffer{
    background-color: rgb(240, 240, 240);
    margin-bottom: 50px;
    padding: 50px 0;
}

.headings{
    margin-bottom: 50px;
}

.headings h1{
    font-size: 1.4rem;
    font-weight: 600;
    text-transform: uppercase;
}

.names h1{
    color: #2e2e2e;
    font-size: 0.9rem;
    text-transform:uppercase ;
    font-weight: bold;
}

.extra-div h2 , .service-div h2{
    font-size: 0.9rem;
    margin: 20px 0 15px 0;
    font-weight: bold;
     line-height: 1.1;
     word-spacing: 4px;
}

.progress{
    height: 0.6rem!important;
    margin-bottom: 25px!important;

}

.serviceicon{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
i{
    color: #2fccd0;
}

.project-work{
    margin: 100px,0;

}
.project-work h1{
    font-size: 2rem;
    text-align: center;
}
.pricing{

    width: 100%;
    height: 100vh;
    padding: 50px;
    position: relative;
}
.pricing:before{
    content: " ";
    position: absolute;
    color: white;
    background-color: #50d1c0;
    top: 0%;
    bottom: 0%;
    left: 0;
    right: 0;
    z-index: -1;
    opacity: 0.2;
   

background: linear-gradient(160deg,#16c9f6, 55%,#fff 0%);

}

.money{
    font-size: 40px;
    line-height: 1;
    color: #606060;
}


.card{
    transition:0.4s ease ;
}
.card-header{
    background-color: white;
    font-size: 1.6rem;
    font-weight: bold;
    padding: 15px 9px!important;
}
.card-body{
    padding: 30px 0px!important;
}
.card-body li{
    margin: 10px 0px;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.6;
    color: #606060;
}
.card-footer{
    background-color: #fff;
    padding: 30px 0px!important;
} 
.card-footer a{
    border:2px solid #50d1c0;
    border-radius: 100px;
    margin: 0px 10px;
    padding: 12px 35px;
    outline: none;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    line-height: 1.4;
    color: #50d1c0;
}
.card-footer a:hover{
    text-decoration: none;
    color: white;
    background-color: #50d1c0;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
}


.card:hover{
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
    transform: translateY(-20px);
  
}

.card:hover .card-footer a{
    color: white;
    background-color: #50d1c0;
}

.card:hover .card-header, .card:hover .money{
    color: #50d1c0;
}

.card-second{
    transform: translateY(-20px);
}

.happyclients{
    width: 100%;
    height: 100vh;
    padding: 80px 0;
}
.box{
    text-align: center;
    border: 1px solid rgba(0,0,0,0.2);
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.3);
    border-radius: 2px;
    transition: .3s ease;
}
.box:hover{
    background: #16c9f6;
}
.box:hover p{
    color: #fff;
}
.carousel-indicators{
    position: absolute;
     right: 0%;
    bottom: -60px!important;
}
.carousel-indicators li{
      background-color: #2fccd0;
}
.box a{
    position: relative;
}
.box a img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 20px;
}

.box h1{
    font-size: 18px;
    font-weight: 400;
    color: #000;
    margin-bottom: 10px;
}
.box h2{
    font-size: 13px;
    font-weight: 400 ;
    color:#666666;
    margin-bottom: 20px;
}
.contactus{
    width: 100%;
    height: 100vh;
    position: relative;
    padding: 80px 0;
}
.contactus:before{
    content: " ";
    position: absolute;
    color: white;
    background-color: #50d1c0;
    top: 0%;
    bottom: 0%;
    left: 0;
    right: 0;
    z-index: -1;
    opacity: 0.2;
   

background: linear-gradient(340deg,#16c9f6, 55%,#fff 0%);

}


.footerid{
    line-height: 1.2rem;
    font-size: 12px;
    background-color: #000;
    color: #fff;
    padding: 6px;
}
#mybtn{
    display:none;
    position: fixed;
    bottom: 20px;
    right: 40px;
    z-index: 99;
    color: #fff;
    background-color: #16c9f6;
    padding: 10px;
}

#mybtn:hover{
    background-color: #666666;
}


@media(max-width:952px) {
    .nav-link{
        text-align: center;
    }
    .service-div {
      
        margin-top: 20px 0px;
    }
    .card-second{
        transform: translateY(0px);
        margin: 50px 0px;
    }
    .pricing, .happyclients{
        height: auto;
        margin-top: 50px;
    }
}